#tablette {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50vw;
    height: auto;
}

.ecran {
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -43%);
    width: 45vw;
    height: auto;
}

#lockscreen {
    display: block;
}

#accueil {
    display: none;
    pointer-events: none;
}

#message {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25vw;
    height: auto;
}

#lea {
    display: none;
    width: 5vw;
    height: 20vw;
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-30%, -50%);
}

#conversation {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: zoom-in-zoom-out 1s ease infinite;
    width: 10vw;
}

@keyframes zoom-in-zoom-out {
    0% {
        width: 10vw;
    }
    50% {
        width: 15vw;
    }
    100% {
        width: 10vw;
    }
}


